
.top{
    color: white;
    font-size: 40px;
    padding: 5%;
    text-align: center;
    border: 10px double rgb(121, 110, 110);
    margin-bottom: 15%;
    -webkit-box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 17px -6px rgba(255,75,64,0); 
    box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 18px 0px 12px rgba(0,0,0,0.1), 0px 21px 0px 14px rgba(0,0,0,0.1), 0px 24px 0px 16px rgba(0,0,0,0.1), 0px 27px 0px 18px rgba(0,0,0,0.1), 0px 30px 0px 20px rgba(0,0,0,0.1), 5px 5px 17px -6px rgba(255,75,64,0);
}
body{
    padding: 0% 25%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 120vh;
    /* width: 50%; */
}

.boxContainer{
    background-color: white;
    border-radius: 20px;
    /* margin-top: 10px; */
    padding: 10px;
    width: 90%;
    -webkit-box-shadow: 5px 5px 27px 7px #000000; 
    box-shadow: 5px 5px 27px 7px #000000;
}

/* header  */

.header{
    text-align: center;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.form-horizontal {
    width: 320px;
    background-color: #ffffff;
    padding: 25px 38px;
    border-radius: 12px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

/* email and password  */

.emailAndPasswordContainer{
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input{
     padding: 8px;
     width: 50%;
     
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus{
    box-shadow: 0 0 5px rgba(246, 8, 110,0.8);
    border: 1px solid rgba(246, 8, 110,0.8);
}

.progress {
    height: 3px !important;
}

.form-group {
    margin-bottom: 10px;
}

.show-pass{
    position: absolute;
    top:5%;
    right: 8%;
}

.progress-bar{
    margin: 10px;
   
}

.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}


.listContainer {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

button{
    /* margin: 10px;
    padding: 15px; */
    font-size: 18px;
    color: rgb(36, 35, 35);
    margin: 10px auto 10px;
    padding: 15px 10px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin-left: 35%;
    background: rgb(193,238,174);
background: radial-gradient(circle, rgba(193,238,174,1) 0%, rgba(62,225,18,1) 100%);
}

button:hover{
    margin: 10px;
    padding: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 8px;
    font-size: large;
    text-align: center;
    align-content: center;
    margin-left: 35%;
    cursor: pointer;
    background: rgb(193,238,174);
    background: radial-gradient(circle, rgba(193,238,174,0.2827760568513119) 0%, rgba(62,225,18,1) 100%);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px -6px rgba(255,75,64,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 17px -6px rgba(255,75,64,0);
}

p{
    text-align: center;
}

.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #f6086e;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}